.employees-page {
    background-color: #ffffff;
    min-height: 100dvh;
}
.search-button{
    height: 3rem;
    width: 4.5rem;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
}
.search-button:hover {
    background-color: #333333;
}
.filter-profession {
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
}